body {
    background-image: url('assets/1.jpg');
    background-size: cover;}

.player {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: brown;
}

.controls {
    margin-top: 20px;

}

#next{
    border-radius: 50%;
   background-color: rgb(68, 30, 112);
   color: white;}

.controls button,
.controls input {
    margin: 5px;
}



#prev{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#prev:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,
  rgba(44,187,99,.25) 0 1px 2px,
  rgba(44,187,99,.25) 0 2px 4px,
  rgba(44,187,99,.25) 0 4px 8px,
  rgba(44,187,99,.25) 0 8px 16px,
  rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

#play{
    background-color: #d7eaff;
  border-radius: 100px;
  box-shadow:
  rgba(44, 99, 187, 0.2) 0 -25px 18px -14px inset,
  rgba(44, 99, 187, 0.15) 0 1px 2px,
  rgba(44, 99, 187, 0.15) 0 2px 4px,
  rgba(44, 99, 187, 0.15) 0 4px 8px,
  rgba(44, 99, 187, 0.15) 0 8px 16px,
  rgba(44, 99, 187, 0.15) 0 16px 32px;

  color: blue;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}
#play:hover{
    box-shadow: 
    rgba(44, 99, 187, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 99, 187, 0.25) 0 1px 2px,
    rgba(44, 99, 187, 0.25) 0 2px 4px,
    rgba(44, 99, 187, 0.25) 0 4px 8px,
    rgba(44, 99, 187, 0.25) 0 8px 16px,
    rgba(44, 99, 187, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}
#pause{
    background-color: #fbd7d7;
    
    border-radius: 100px;
    box-shadow:

    rgba(44, 99, 187, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 99, 187, 0.15) 0 1px 2px,
    rgba(44, 99, 187, 0.15) 0 2px 4px,
    rgba(44, 99, 187, 0.15) 0 4px 8px,
    rgba(44, 99, 187, 0.15) 0 8px 16px,
    rgba(44, 99, 187, 0.15) 0 16px 32px;
  
    color: red;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

  
}
#pause.hover{
    box-shadow: 
    rgba(187, 44, 44, 0.35) 0 -25px 18px -14px inset,
    rgba(187, 44, 44, 0.25) 0 1px 2px,
    rgba(187, 44, 44, 0.25) 0 2px 4px,
    rgba(187, 44, 44, 0.25) 0 4px 8px,
    rgba(187, 44, 44, 0.25) 0 8px 16px,
    rgba(187, 44, 44, 0.25) 0 16px 32px;
}
#next{
    background-color: #fbd7fbd7;

    border-radius: 100px;
    box-shadow:
        rgba(128, 0, 128, 0.2) 0 -25px 18px -14px inset,
        rgba(128, 0, 128, 0.15) 0 1px 2px,
        rgba(128, 0, 128, 0.15) 0 2px 4px,
        rgba(128, 0, 128, 0.15) 0 4px 8px,
        rgba(128, 0, 128, 0.15) 0 8px 16px,
        rgba(128, 0, 128, 0.15) 0 16px 32px;
    
  
    color:purple;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#next.hover{
    box-shadow: 
    rgba(128, 0, 128, 0.35) 0 -25px 18px -14px inset,
    rgba(128, 0, 128, 0.25) 0 1px 2px,
    rgba(128, 0, 128, 0.25) 0 2px 4px,
    rgba(128, 0, 128, 0.25) 0 4px 8px,
    rgba(128, 0, 128, 0.25) 0 8px 16px,
    rgba(128, 0, 128, 0.25) 0 16px 32px;

}