body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#d4c0d9;
}

.container {
    width: 450px;
    height: 450px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 20%;
    padding: 10px;
    margin-left: 80%;
    background-color: #4c5bde;
    color: #ffff;
    border:black;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

li.completed {
    text-decoration: line-through;
    background-color: #d9ffd9;
}

li:hover {
    background-color: #f0f0f0;
}

button.delete-btn {
    background-color: #de4343;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 20%;
}

button.delete-btn:hover {
    background-color: #ff1a1a;
}
